@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap'); */
.App {
  position: relative;
}
.login_heading {
  margin-bottom: 1rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes appearDissapear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.Megashop {
  color: red;
  font-weight: bold;
  padding-bottom: 1rem;
  animation: appearDissapear 2s infinite;
}
.right_side_content {
  padding-top: 7rem;
  background: rgba(217, 219, 219, 0.43);
  height: 100vh;
  text-align: left;
  padding-left: 3rem;
}
.enter_details_heading {
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: "Roboto Mono", monospace;
}
img.landing_page_img {
  height: 70%;
  width: 85%;
  object-fit: contain;
}
.left_side_content {
  padding-top: 6rem;
  height: 100vh;
  padding-left: 7rem !important;
  text-align: left;
  width: 100%;
}
.email_input {
  width: 60%;
  padding: 10px;
  outline: none;
  border: 2px solid rgba(217, 219, 219, 0.9);
}
.password_input {
  width: 60%;
  padding: 10px;
  outline: none;
  border: 2px solid rgba(217, 219, 219, 0.9);
}
.input_label_landing_page {
  margin-top: 1rem;
}
.login_register_button {
  width: 20%;
  margin-top: 1rem;
  background: rgba(255, 0, 0, 0.65);
  color: white;
  border: none;
  padding: 5px;
}
.footer_parent {
  position: relative;
  background: green;
}
.footer {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.footerName {
  font-weight: bold;
}
.login_register_link {
  color: red;
  text-decoration: underline;
}
.login_register_link:hover {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 776px) {
  .app {
    margin: 0 auto;
  }

  .footer {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    text-align: center;
  }
  .left_side_content {
    padding-top: 2rem;
    height: 80vh;
    padding-left: 7rem !important;
    text-align: left;
    width: 100%;
  }
  .right_side_content {
    padding-top: 0rem;
    background: none;
    height: 100vh;
    text-align: left;
    padding-left: 3rem;
  }
}
